<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pl.edu.mimuw.nesc.plugin.editor.NescEditor"
            default="true"
            extensions="nc"
            icon="icons/sample.gif"
            id="pl.edu.mimuw.nesc.NesCEditor"
            name="NesC Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="pl.edu.mimuw.nesc.category.wizards.new"
            name="NesC">
      </category>
      <wizard
            category="pl.edu.mimuw.nesc.category.wizards.new"
            class="pl.edu.mimuw.nesc.plugin.wizards.NescNewProjectWizard"
            id="pl.edu.mimuw.nesc.wizards.new.NescProjectWizard"
            name="NesC Project"
            project="true">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescInterfaceWizard"
         id="pl.edu.mimuw.nesc.wizards.new.NescInterfaceWizard"
         name="NesC Interface"
         project="false">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescHeaderFileWizard"
         id="pl.edu.mimuw.nesc.wizards.new.NescHeaderFileWizard"
         name="Header File"
         project="false">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescComponentWizard"
         id="pl.edu.mimuw.nesc.wizards.new.NescComponentWizard"
         name="NesC Component"
         project="false">
      </wizard>
   </extension>
   <extension
         id="pl.edu.mimuw.nesc.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="pl.edu.mimuw.nesc.category.wizards.import"
            class="pl.edu.mimuw.nesc.plugin.wizards.NescImportWizard"
            id="pl.edu.mimuw.nesc.wizards.new.NescImportWizard"
            name="NesC Project">
      </wizard>
      <category
            id="pl.edu.mimuw.nesc.category.wizards.import"
            name="NesC">
      </category>
   </extension>
   <!-- Plugin preference pages. -->
   <extension
   		 point="org.eclipse.core.runtime.preferences">
   		 <initializer class="pl.edu.mimuw.nesc.plugin.preferences.NescPreferencesInitializer" />
   </extension>
   <extension
   		 point="org.eclipse.ui.preferencePages">
   		 <page
   		 	id="pl.edu.mimuw.nesc.plugin.preferences.MainPage"
   		 	class="pl.edu.mimuw.nesc.plugin.preferences.NescPluginMainPreferencesPage"
   		 	name="NesC">
   		 </page>
   		 <page
   		 	id="pl.edu.mimuw.nesc.plugin.preferences"
   		 	class="pl.edu.mimuw.nesc.plugin.preferences.NescPluginEmptyChildPreferencesPage"
   		 	name="Empty child page"
   		 	category="pl.edu.mimuw.nesc.plugin.preferences.MainPage">
   		 </page>
   </extension>
   <!-- Project property pages. -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="pl.edu.mimuw.nesc.plugin.projects.NescProjectGeneralSettingsPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage"
            name="NesC Project">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                   <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.projectNature"/>
            	</adapt>
            </enabledWhen>
      </page>
      <page
            class="pl.edu.mimuw.nesc.plugin.projects.NescProjectAdditionalPathSettingsPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage.AdditionalPaths"
            name="Additional paths"
            category="pl.edu.mimuw.nesc.projects.NescProjectPage">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                   <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.projectNature"/>
            	</adapt>
            </enabledWhen>
      </page>
   </extension>

</plugin>
