<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pl.edu.mimuw.nesc.plugin.editor.NescEditor"
            default="true"
            extensions="nc, h"
            icon="resources/icons/sample.gif"
            id="pl.edu.mimuw.nesc.NesCEditor"
            name="NesC Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="pl.edu.mimuw.nesc.category.wizards.new"
            name="NesC">
      </category>
      <wizard
            category="pl.edu.mimuw.nesc.category.wizards.new"
            class="pl.edu.mimuw.nesc.plugin.wizards.NescNewProjectWizard"
            icon="resources/icons/newProjectWizardIconSmall.png"
            id="pl.edu.mimuw.nesc.wizards.new.NescProjectWizard"
            name="NesC Project"
            project="true">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescInterfaceWizard"
         icon="resources/icons/interfaceWizardIconSmall.png"
         id="pl.edu.mimuw.nesc.wizards.new.NescInterfaceWizard"
         name="NesC Interface"
         project="false">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescHeaderFileWizard"
         icon="resources/icons/headerFileWizardIconSmall.png"
         id="pl.edu.mimuw.nesc.wizards.new.NescHeaderFileWizard"
         name="Header File"
         project="false">
      </wizard>
      <wizard
         category="pl.edu.mimuw.nesc.category.wizards.new"
         class="pl.edu.mimuw.nesc.plugin.wizards.NescComponentWizard"
         icon="resources/icons/componentWizardIconSmall.png"
         id="pl.edu.mimuw.nesc.wizards.new.NescComponentWizard"
         name="NesC Component"
         project="false">
      </wizard>
   </extension>
   <extension
         id="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="pl.edu.mimuw.nesc.category.wizards.import"
            class="pl.edu.mimuw.nesc.plugin.wizards.NescImportProjectWizard"
            id="pl.edu.mimuw.nesc.wizards.import.NescImportWizard"
            name="NesC Project">
      </wizard>
      <category
            id="pl.edu.mimuw.nesc.category.wizards.import"
            name="NesC">
      </category>
   </extension>
   <!-- Project builders. -->
   <extension
   		 point="org.eclipse.core.resources.builders"
   		 id="pl.edu.mimuw.nesc.plugin.builder.NescProjectBuilder"
   		 name="NesC Project Builder">
   		 <builder>
   		 	<run class="pl.edu.mimuw.nesc.plugin.builder.NescProjectBuilder">
   		 		<parameter name="optimize" value="true" />
   		 	</run>
   		 </builder>
   </extension>
   <!-- Plugin preference pages. -->
   <extension
   		 point="org.eclipse.core.runtime.preferences">
   		 <initializer class="pl.edu.mimuw.nesc.plugin.preferences.NescPreferencesInitializer" />
   </extension>
   <extension
   		 point="org.eclipse.ui.preferencePages">
   		 <page
   		 	id="pl.edu.mimuw.nesc.plugin.preferences.MainPage"
   		 	class="pl.edu.mimuw.nesc.plugin.preferences.NescPluginMainPreferencesPage"
   		 	name="NesC">
   		 </page>
      <page
            category="pl.edu.mimuw.nesc.plugin.preferences.MainPage"
            class="pl.edu.mimuw.nesc.plugin.preferences.NescPluginCommentsTemplatesPreferencePage"
            id="pl.edu.mimuw.nesc.plugin.preferences.CommentsTemplates"
            name="Comments Templates">
      </page>
   </extension>
   <!-- Project property pages. -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="pl.edu.mimuw.nesc.plugin.projects.pages.NescProjectGeneralSettingsPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage"
            name="NesC Project">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                   <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            	</adapt>
            </enabledWhen>
      </page>
      <page
            class="pl.edu.mimuw.nesc.plugin.projects.pages.NescProjectAdditionalMacrosPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage.AdditionalPaths"
            name="Additional includes and macros"
            category="pl.edu.mimuw.nesc.projects.NescProjectPage">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                   <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            	</adapt>
            </enabledWhen>
      </page>
      <page
            class="pl.edu.mimuw.nesc.plugin.projects.pages.NescProjectSourceFoldersPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage.ProjectSourceFolders"
            name="Project source paths"
            category="pl.edu.mimuw.nesc.projects.NescProjectPage">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                   <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            	</adapt>
            </enabledWhen>
      </page>
      <page
            category="pl.edu.mimuw.nesc.projects.NescProjectPage"
            class="pl.edu.mimuw.nesc.plugin.projects.pages.NescProjectCommentsTemplatesSettingsPage"
            id="pl.edu.mimuw.nesc.projects.NescProjectPage.CommentsTemplates"
            name="Comments Templates">
            <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
               </adapt>
            </enabledWhen>
      </page>
   </extension>
   <!-- Perspectives. -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.edu.mimuw.nesc.plugin.perspectives.NescPerspective"
            id="pl.edu.mimuw.nesc.plugin.perspectives.NescPerspective"
            name="NesC">
      </perspective>
   </extension>

   <!-- Common Navigator Framework extensions. -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">

      <commonWizard
            type="new"
            wizardId="pl.edu.mimuw.nesc.wizards.new.NescProjectWizard"
            menuGroupId="pl.edu.mimuw.nesc.plugin.navigatorContent.group.newProject">
         <enablement>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            </adapt>
         </enablement>
      </commonWizard>

      <commonWizard
            type="new"
            wizardId="pl.edu.mimuw.nesc.wizards.new.NescInterfaceWizard"
            menuGroupId="pl.edu.mimuw.nesc.plugin.navigatorContent.group.newFile">
         <enablement>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            </adapt>
         </enablement>
      </commonWizard>

      <commonWizard
            type="new"
            wizardId="pl.edu.mimuw.nesc.wizards.new.NescHeaderFileWizard"
            menuGroupId="pl.edu.mimuw.nesc.plugin.navigatorContent.group.newFile">
         <enablement>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            </adapt>
         </enablement>
      </commonWizard>

      <commonWizard
            type="new"
            wizardId="pl.edu.mimuw.nesc.wizards.new.NescComponentWizard"
            menuGroupId="pl.edu.mimuw.nesc.plugin.navigatorContent.group.newFile">
         <enablement>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                     value="pl.edu.mimuw.nesc.plugin.natures.NescProjectNature"/>
            </adapt>
         </enablement>
      </commonWizard>
   </extension>

   <!-- Markers. -->
	<extension
		id="pl.edu.mimuw.nesc.plugin.marker.ErrorMarker"
		point="org.eclipse.core.resources.markers">
			<super type="org.eclipse.core.resources.problemmarker"/>
			<super type="org.eclipse.core.resources.textmarker"/>
			<persistent value="true" />
	</extension>
	
	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="pl.edu.mimuw.nesc.plugin.marker.ErrorMarker"
			class="pl.edu.mimuw.nesc.plugin.marker.MarkerResolver">
		</markerResolutionGenerator>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			name="pl.edu.mimuw.nesc.plugin.marker.annotations"
			super="org.eclipse.ui.workbench.texteditor.error"
			markerType="pl.edu.mimuw.nesc.plugin.marker.ErrorMarker" />
	</extension>
</plugin>
